# Backups y archivos temporales
proyectos/BACKUPS/
*.tar.gz
*.mp3
*.mp4
*.wav
*.ogg
**/descargar/
**/bg_shorts/
**/videos/
**/miniaturas/
logo-opciones/
CONTRASEÑAS/
.creds/
*.pyc
__pycache__/
node_modules/
